@model IEnumerable<DataLayer.Entities.User>

@{
	ViewData["Title"] = "User List";
}

<h1 class="fw-bold">
	<i class="fa fa-users"></i> Users List
</h1>

<p>
	<a asp-action="Create" class="btn btn-success">
		<i class="fa fa-plus"></i> Create New
	</a>
</p>
<table class="table table-striped table-bordered">
	<thead class="table-dark">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.UserName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Position)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Role)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Position)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Role.RoleName)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
					<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
					<a asp-action="ResetPassword" asp-route-id="@item.Id" class="btn btn-warning">Reset Password</a>

					@if (item.DeletedAt == null)
					{
						<form asp-action="DeleteUser" method="post" style="display:inline;">
							<input type="hidden" name="userId" value="@item.Id" />
							<button type="submit" class="btn btn-danger">Delete</button>
						</form>
					}
					else
					{
						<form asp-action="RestoreUser" method="post" style="display:inline;">
							<input type="hidden" name="userId" value="@item.Id" />
							<button type="submit" class="btn btn-success">Restore</button>
						</form>
					}
				</td>

			</tr>
		}
	</tbody>
</table>
